$color-primary: #1a1a1a;
$color-accent: #ff2d2d;
$color-highlight: #c7c4c4ad;
$color-light: #f0f0f0;
$color-white: #ffffff;
$color-gray: #c7c4c4ad;

$color-gray-light: #c7c4c4ad;
$color-gray-dark: #000000;